* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
}
.header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#levels  {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    height: 35px;
    border: 0px;
    border-radius: 5px;
    margin-left: 20px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.board {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    background-color: #00008B;
}

.box {
    width: 150px;
    height: 150px;
    background-color: #ADD8E6;
    cursor: grab;
    font-size: 100px;
    color:#ADD8E6;
    display:flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.overlay {
    display: none;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay.show {
    display: flex;
}

.message {
    font-size: 4em;
}

#restartButton {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5px;
    font-size: 2em;
}

#restartButton:hover {
    background-color: black;
    color: white;
    cursor: grab;
}